{% extends "base.html" %} {% block title %}Corporate Sign Up{% endblock %} {%
block content %}
<div class="container" width="300px">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST">
        <br />
        <h3 align="center">Corporate Sign Up</h3>
        <div class="form-group">
          <label for="uen">UEN</label>
          <input
            type="text"
            class="form-control"
            id="uen"
            name="uen"
            placeholder="Enter UEN"
          />
        </div>
        <div class="form-group">
          <label for="firstName">Company Name</label>
          <input
            type="text"
            class="form-control"
            id="companyName"
            name="companyName"
            placeholder="Enter company name"
          />
        </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password (at least 8 characters)"
          />
        </div>
        <div class="form-group">
          <label for="password2">Re-enter your password (confirmation)</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Enter password"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
        <br />
        <p>Driver Account? Sign up <a href="/signup/driver">here</a>.</p>
      </form>
    </div>
  </div>
</div>

{% endblock %}
