{% extends "base.html" %} {% block title %}Posted Rewards{% endblock %} {% block
content %}

<br />
<h3 align="center">Posted Rewards</h3>
<ul class="list-group list-group-flush" id="rewards">
  {% for reward in rewards %}
  {% if reward.company == user %}
  <li class="list-group-item">
    <button type="button" class="close" onClick="deleteReward({{ reward.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>
      <h4>{{ reward.reward_title }}</h4>
      <p>Company: {{ reward.company.company_name}}</p>
      <p>Details: {{ reward.reward_details }}</p>
      <p>Expiry: {{reward.reward_expiry}}</p>
    </div>
  </li>
  {% endif %}
  {% endfor %} {% endblock %}
</ul>
